html {
  text-align: center;
  font-family: Helvetica;
}

.topMenu {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

p a {
  font-size: 18px;
  color: white;
}

h4 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}
